<template>
  <div class="body row align-items-center my-5 bg-light">
    <div class="col">
      <h1>{{ msg }}</h1>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'hello',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }
</script>

<style scoped lang="scss">
  .body {
    height: 600px;
  }
</style>
