@mixin hover {
  &:hover {
    @content;
  }
}

@mixin hover-focus {
  &:focus,
  &:hover {
    @content;
  }
}

@mixin plain-hover-focus {
  &,
  &:focus,
  &:hover {
    @content;
  }
}

@mixin hover-focus-active {
  &:focus,
  &:active,
  &:hover {
    @content;
  }
}

@mixin plain-hover-focus-active-visited {
  &,
  &:visited,
  &:focus,
  &:active,
  &:hover {
    @content;
  }
}

@mixin hover-focus-active-visited {
  &:visited,
  &:focus,
  &:active,
  &:hover {
    @content;
  }
}

// Responsive image
//
// Keep images from scaling beyond the width of their parents.

@mixin img-fluid {
  // Part 1: Set a maximum relative to the parent
  max-width: 100%;
  // Part 2: Override the height to auto, otherwise images will be stretched
  // when setting a width and height attribute on the img element.
  height: auto;
}


// Retina image
//
// Short retina mixin for setting background-image and -size.

@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: url($file-1x);

  // Autoprefixer takes care of adding -webkit-min-device-pixel-ratio and -o-min-device-pixel-ratio,
  // but doesn't convert dppx=>dpi.
  // There's no such thing as unprefixed min-device-pixel-ratio since it's nonstandard.
  // Compatibility info: http://caniuse.com/#feat=css-media-resolution
  @media only screen and (min-resolution: 192dpi), // IE9-11 don't support dppx
  only screen and (min-resolution: 2dppx) { // Standardized
    background-image: url($file-2x);
    background-size: $width-1x $height-1x;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
 @mixin custom-scrollbar($color) {
   &::-webkit-scrollbar-track
   {
     background-color: transparent;
   }

   &::-webkit-scrollbar
   {
     width: 3px;
     background-color: transparent;
   }

   &::-webkit-scrollbar-thumb
   {
     background-color: $color;
     border-radius: 20px;
   }
 }
