// Color
$colorMainText: #079c90;
$color2ndText: #484848;
$color3rdText: #767676;
$colorPrimary: #076839;
$color2nd: #faa619;
$colorGreen: #04673a;
$colorBody: #6e6e6e;
$colorGray: #90949C;
$colorBackgroundBody: #076839;

// Typo
$fontSize: 16px;
$fontPrimary: 'Roboto', sans-serif;
$font-header: $fontPrimary;
