//.text-input,
//input[type="text"]{
//  border-radius: 25px;
//  background-color: #e9f6f0;
//  width: 100%;
//  height: 50px;
//  box-shadow: none;
//  border: none;
//  outline: none;
//  font-weight: 600;
//  line-height: 2.5;
//  color: $colorGreen;
//  font-size: 16px;
//  padding: 0 30px;
//  margin-bottom: 10px;
//  @include placeholder{
//    color: $colorGreen;
//    font-size: 16px;
//  }
//}
