<template>
  <div class="container">
    <site-header></site-header>
    <router-view></router-view>
    <site-footer></site-footer>
  </div>
</template>

<script>
  import SiteHeader from '@/components/SiteHeader.vue'
  import SiteFooter from '@/components/SiteFooter.vue'

  export default {
    name: 'Default',
    components: {
      SiteHeader,
      SiteFooter
    }
  }
</script>